[Unit]
Description=Update a certificate from OBS
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /opt/os-autoinst-scripts/openqa-update-staging-cert /opt/os-autoinst-scripts/config/obs-certs/%i.conf
Restart=on-failure
RestartSec=1m
